@using Blazor.DragDrop.Core

@inject SvgCards svgCards

<div class="layout-cards">

    @{
        int i = 0;
        <Dropzone Name="TopHand" ForceSwap="true">

            @foreach (var card in Deck.CardNumbers(Hand.TopHand.CardsMask))
            {

                <Draggable Tag="@(new { Card = card })" OnDrop="@OnDrop" class="svg-card-wrapper">
                    @(svgCards.Faces[card])
                </Draggable>

            }
        </Dropzone>
    }
    @{
        <div class="w-100"></div>
        i = 0;
        <Dropzone Name="MiddleHand" ForceSwap="true">
            @foreach (var card in Deck.CardNumbers(Hand.MiddleHand.CardsMask))
            {

                <Draggable Tag="@(new { Card = card })" OnDrop="@OnDrop" class="svg-card-wrapper">
                    @(svgCards.Faces[card])
                </Draggable>

            }
        </Dropzone>
    }
    @{
        <div class="w-100"></div>
        i = 0;
        <Dropzone Name="BottomHand" ForceSwap="true">
            @foreach (var card in Deck.CardNumbers(Hand.BottomHand.CardsMask))
            {
                <Draggable Tag="@(new { Card = card })" OnDrop="@OnDrop" class="svg-card-wrapper">
                    @(svgCards.Faces[card])
                </Draggable>

            }
        </Dropzone>
    }
</div>


@code {
  [Parameter]
  public TaiwaneseHand Hand { get; set; }
  [Parameter]
  public IDeck Deck { get; set; }
  [Inject]
  private DragDropService DragDropService { get; set; }

  protected async override Task OnInitializedAsync()
  {
      Hand.StartManualLayout();
      await svgCards.LoadCardsAsync();
  }

  protected void OnDrop(dynamic d, int i)
  {
      Hand.TopHand.CardsMask = 0UL;
      foreach (var frag in DragDropService.GetDraggablesForDropzone("TopHand"))
      {
          Hand.TopHand.AddCard(frag.Tag.Card);
      }

      Hand.MiddleHand.CardsMask = 0UL;
      foreach (var frag in DragDropService.GetDraggablesForDropzone("MiddleHand"))
      {
          Hand.MiddleHand.AddCard(frag.Tag.Card);
      }

      Hand.BottomHand.CardsMask = 0UL;
      foreach (var frag in DragDropService.GetDraggablesForDropzone("BottomHand"))
      {
          Hand.BottomHand.AddCard(frag.Tag.Card);
      }

  }

}
